body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

/* Footer Bar */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2d3e50; /* Colour of the bar */
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}

.footer-bar {
    background-color: #2d3e50; /* Same as the top bar */
    height: 5px; /* Height of the bar */
    width: 100%;
}

footer p {
    margin: 10px 0;
}

#year {
    font-weight: bold;
}

.navbar {
    margin-bottom: 20px;
}
