<!--
Created by: Orlando Caetano
Date: [insert Date]
Description: 

Resources:
-->

{% extends 'base.html' %}

{% block title %}Future You{% endblock %}

{% block content %}
<div class="container">
    <h1>Future You</h1>
    <p>Content to be developed later.</p>
    <!-- Future You button -->
    {% if second_exercise_completed %}
    <!-- Button redirects to the Dashboard after completing the second exercise -->
    <form method="POST">
        <button type="submit" class="btn btn-primary">Go to Dashboard</button>
    </form>
{% else %}
    <!-- Button redirects to the Exercise page after completing the first exercise -->
    <form method="POST">
        <button type="submit" class="btn btn-primary">Go to Exercises</button>
    </form>
    {% endif %}
</div>
{% endblock %}
