<!--
    Created by: Orlando Caetano
    Last updated: 10/03/2025
    Description: This "Future You" page is designed to help users connect their learning journey to real-world career opportunities. 
    It provides career path suggestions based on the user’s progress, showcases coding projects, and includes industry challenges to 
    deepen practical knowledge. 

    Resources: Please refer to Reference list for CodeMentor App for the resources used to build this application.
-->


{% extends 'base.html' %}

{% block title %}Future You{% endblock %}

{% block content %}

    <div class="intro">
        <h1>Future You: Where These Skills Can Take You</h1>
        <p>Connect your learning journey to real-world career opportunities and projects.</p>
    </div>

<section class="future-you-section">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <div style="max-width: 80%;">
                <h1 class="text-left">Your Career Path</h1>
                <p class="text-left" >Based on your progress, here are some career opportunities you can explore in the future:</p>
                </div>
                <!-- Career Path Box -->
                <div class="career-path-boxes-container">
                    {% if career_suggestions %}
                    <div class="career-paths-container">
                        {% for career in career_suggestions %}
                            <div class="career-path-box">
                                <h3 class="career-title">{{ career.title }}</h3>
                                <p class="career-description" >{{ career.description | safe }}</p>
                                
                                <div class="d-flex gap-2">
                                    <!-- Learn More Button -->
                                    <button class="btn btn-info learn-more-btn" data-csid="{{ career.CSid }}">Key Responsibilities</button>

                                    <!-- Career Stories Button -->
                                    <button class="btn btn-success career-stories-btn" data-csid="{{ career.CSid }}">Career Stories</button>
                                </div>

                                <div id="key-responsibilities-container-{{ career.CSid }}" class="key-responsibilities-container" style="text-align:left">
                                    <p><span id="key-responsibilities-text-{{ career.CSid }}"></span></p>
                                </div>

                                <div id="career-stories-container-{{ career.CSid }}" class="career-stories-container" style="display:none; text-align:left; padding: 10px;">
                                    <ul id="career-stories-list-{{ career.CSid }}"></ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% else %}
                        <p>No career suggestions available for this module yet.</p> 
                    {% endif %}
                </div>
            </div>

            <!-- Industry Section - Right side -->
            <div class="col-md-4">
                <div class="industry-challenges">
                    <h1>Industry Challenges</h1>
                    <p>Explore real-world industry challenges related to the concepts you've learned.</p>
                    
                    <div class="d-grid gap-2">  
                        {% for exercise in exercises_with_status %}
                            <button class="industry btn-primary" 
                            
                                {% if not exercise.is_completed %} disabled {% endif %}
                                    data-url="{{ url_for('industry_challenges', exercise_id=exercise.exerciseid) }}">
                                {{ exercise.title }}
                            </button>
                        {% endfor %}
                    </div>
                    <!-- Iframe for Industry Challenges, initially hidden -->
                    <div id="industry-challenges-container" style="display: none;">
                        <iframe id="challengeFrame" width="100%" height="500px" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!-- Coding Projects Section -->
        <h1 style="margin-left: -50px; margin-top: 50px;">Coding Projects</h1>
        <p style="margin-left: -50px; margin-top: 10px;">Explore coding projects that you can work on to enhance your skills.</p>

        {% if all_exercises_completed %}
            <div class="row">
                {% for project in coding_projects %}
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title"><strong>{{ project.title }}</strong></h4>
                            <p class="card-text">{{ project.description }}</p>
                            <h5 style="color: #1a237e">Concepts:</h5>
                            <ul>
                                {% for concept in project.concepts %}
                                    <li>{{ concept }}</li>
                                {% endfor %}
                            </ul>

                            <!-- View Code Button -->
                            <button class="btn vcode toggle-code-btn" data-id="project-{{ project.id }}">View Code</button>
                            <pre id="code-{{ project.id }}" style="display:none; color: #1a237e;"><code>{{ project.demoCode }}</code></pre>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p>📌You need to complete all exercises to access coding projects.</p>
        {% endif %}
    </div>

    <!-- Future You button -->
    {% if second_exercise_completed %}
        <!-- Button redirects to the Dashboard after completing the second exercise -->
        <form method="POST">
            <button type="submit" class="btn btn-custom">Go to Dashboard</button>
        </form>
    {% else %}
        <!-- Button redirects to the Exercise page after completing the first exercise -->
        <form method="POST">
            <button type="submit" class="btn btn-custom">Go to Exercises</button>
        </form>
    {% endif %}
    </div>
</section>

<script>
    // Event listener to handle the "Learn More" button click
document.addEventListener('click', function(event) {
    if (event.target && event.target.classList.contains('learn-more-btn')) {
        const CSid = event.target.getAttribute('data-csid'); 
        const keyResponsibilitiesContainer = document.getElementById(`key-responsibilities-container-${CSid}`);
        const keyResponsibilitiesText = document.getElementById(`key-responsibilities-text-${CSid}`);

        if (keyResponsibilitiesContainer.style.display === 'block') {
            keyResponsibilitiesContainer.style.display = 'none';
        } else {

            // Fetch the key responsibilities API 
            fetch(`/api/career_suggestions/responsibilities/${CSid}`)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        keyResponsibilitiesText.innerHTML = `<span class="text-danger">${data.error}</span>`;
                    } else {
                        // formating the text
                        const responsibilitiesText = data.keyresponsibilities.replace(/\n/g, '<br>');
                        keyResponsibilitiesText.innerHTML = responsibilitiesText;  
                        keyResponsibilitiesText.style.fontSize = '1rem';  
                        keyResponsibilitiesContainer.style.padding = '10px 0'; 
                        keyResponsibilitiesContainer.style.color = '#1a237e'; 
                        keyResponsibilitiesContainer.style.display = 'block';  
                    }
                })
                .catch(error => {
                    console.error('Error fetching key responsibilities:', error);
                });
        }
    }
});

// Event listener to handle the "Industry Challenges" button click
document.querySelectorAll(".industry.btn-primary").forEach(button => {
    button.addEventListener("click", function() {
        let iframe = document.getElementById("challengeFrame");
        let container = document.getElementById("industry-challenges-container");

        let url = this.getAttribute("data-url");

        // Set the iframe src to the URL based on the button clicked
        if (url) {
            iframe.src = url;
        } else {
            iframe.src = ""; 
        }

        // Toggle visibility of the iframe container
        if (container.style.display === "block") {
            container.style.display = "none";
            iframe.src = "";  // Clear the iframe source
        } else {
            container.style.display = "block";
        }
    });
});

// Event listener to handle the "Career Stories" button click
document.addEventListener('click', function(event) {
    if (event.target && event.target.classList.contains('career-stories-btn')) {
        const CSid = event.target.getAttribute('data-csid');  
        const careerStoriesContainer = document.getElementById(`career-stories-container-${CSid}`);
        const careerStoriesList = document.getElementById(`career-stories-list-${CSid}`);

        if (careerStoriesContainer.style.display === 'block') {
            careerStoriesContainer.style.display = 'none'; 
        } else {
            // Fetch the career stories API 
            fetch(`/api/career_suggestions/stories/${CSid}`)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        careerStoriesList.innerHTML = `<li class="text-danger">${data.error}</li>`;
                    } else {
                        careerStoriesList.innerHTML = data.career_stories.map(story =>
                            `<strong style="color: #1a237e">${story.title}</strong>: <span style="color: #1a237e">${story.description}</span>`
                        ).join('');
                        careerStoriesContainer.style.display = 'block';  
                    }
                })
                .catch(error => {
                    console.error('Error fetching career stories:', error);
                });
        }
    }
});

// Event listener to handle the "View Code" button click
document.addEventListener('click', function(event) {
    if (event.target && event.target.classList.contains('toggle-code-btn')) {
        const projectId = event.target.getAttribute('data-id');
        const codeBlock = document.getElementById(`code-${projectId.split('-')[1]}`);

        if (codeBlock.style.display === 'block') {
            codeBlock.style.display = 'none';
        } else {
            codeBlock.style.display = 'block';
        }
    }
});
    
</script>

{% endblock %}
