<!-- 
    Created by: Orlando Caetano
    Last Updated: 14/02/2025
    Description: Login page template. Includes a form for user authentication with fields for username and password, 
    as well as a link to the registration page for new users.

    Resources: Please refer to Reference list for CodeMentor App for the resources used to build this application.
-->

{% extends "base.html" %}

{% block title%}Login{% endblock %}

{% block content %}
    <h1 class="my-4">Login</h1>

    <!-- Login Form -->
    <form method="POST" action="{{ url_for("login") }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label class="align" for = "username">Username</lable>
            {{ form.username(class="form-control") }}
        </div>  
        <div class="form-group">
            <label class="align" for = "password">Password</lable>
            {{ form.password(class="form-control") }}
        </div>

         <!-- Submit Button to Submit the Login Form -->
        <button type="submit" class="custom-login-button">Login</button>
        
        <!-- Link to Registration Page for New Users -->
        <div class="text-center mt-3">
            <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
        </div>
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}

    
