<!-- 
    Created by: Orlando Caetano
    Last Updated: 14/03/2025 
    Description: Registration page template. Includes a form for user sign-up . Also provides a link to the login page 
    for users who already have an account.

    Resources: Please refer to Reference list for CodeMentor App for the resources used to build this application.
-->


{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<!-- for testing purposes
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
-->

    <h1 class="my-5">Register</h1>

    <!-- Registration Form -->
    <form method="POST" action="{{ url_for('register') }}">
        {{ form.hidden_tag() }}
        <div class="form-group-register">
            <label class="align-register" for="username">Username</label>
            {{ form.username(class="form-control") }}
        </div>
        <div class="form-group-register">
            <label class="align-register" for="email">Email</label>
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group-register">
            <label class="align-register" for="password">Password</label>
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group-register">
            <label class="align-register" for="confirm_password">Confirm Password</label>
            {{ form.confirm_password(class="form-control") }}
        </div>

        <!-- Submit Button to Submit the Registration Form -->
        <button type="submit" class="custom-login-button">Register</button>
        
        <!-- Link to Login Page for Users with Existing Accounts -->
        <div class="text-center mt-3">
            <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
        </div>
    </form>

{% endblock %}
